body {
    font-family: Lato, sans-serif; /* Typsnitt: Lato */
}
a {
    color:#000000
}
p {
    /* Stilar för element av typen "p" */
 }
 
 #welcome-paragraph {
    /* Stilar för element med id="welcome-paragraph" */
 }
 
 .extra-big {
    /* Stilar för element med class="extra-big" */
 }
 
 /* Styles for the opening hours list */
#opening-hours {
    margin-top: 20px;
}

#opening-hours h2 {
    font-size: 24px;
    color: #333;
}

#opening-hours ul {
    list-style-type: none;
    padding: 0;
}

#opening-hours li {
    margin-bottom: 10px;
    font-size: 18px;
    color: #666;
}

/*NAVBAR*/

.navlogo{
    max-width: 80px;
}

.navbar{
    position: sticky;
    top: 0;
    background-color: #C8E0EA;
    border-bottom: 2px solid #C8E0EA;
    z-index: 1000;
    /*border-bottom: 2px solid black;*/
}

  

/* Hoover line*/
.navbar-nav .nav-link:not(.search-button) {
    margin-right: 10px;
    position: relative; 
    color: #585757; 
    text-decoration: none;
}

.navbar-nav .nav-link:not(.searchbar):hover::before {
    content: '';
    position: absolute;
    bottom: -2px; 
    left: 0;
    width: 100%; 
    height: 2px; 
    background-color: #333;
    transform: scaleX(0);
    transition: transform 0.3s ease; 
}

.navbar-nav .nav-link:not(.search-button):hover::before {
    transform: scaleX(1); 
}

.navbar-nav .nav-link {
    margin-right: 10px; 
}

.custom-vertical-align {
    margin-top: 7px; 
}

.search-button {
        background-color: transparent;
        border: none; 
        cursor: pointer; 
}




/*FOOTER*/
.footer {
    background-color: #F9F3E4;
    padding: 80px; 
    width: 100%; 
}

.footer-link {
    color: black; 
    text-decoration: none; 
  }

  .footer-link:hover {
    color: rgb(16, 47, 99); 
}

.space-between {
    padding-right: 20px;
  }

/* VIEW PRODUCT PAGE */

.product-page {
    max-width: 100%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    display: flex;
}

.half-page {
    width: 50%;
    padding: 20px;
}

h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

img {
    width: 300px;
    border-radius: 5px;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}

/* VIEW-PURCHASE */
.card {
/*margin: 30px;*/
}

.card-img-top {
    max-width: 150px;
}

.quantity {
    width: 40px;
    text-align: center;
}

.centered-product-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.show-product {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
  
.show-product:hover {
    opacity: 0.8;
    cursor: pointer;
}

.quantity-input-group {
    max-width: 150px;
}

.image-wrapper {
    overflow: hidden;
    width: 100%;
    height: 100%;
}
  
.product-image {
    width: auto;
    height: 100%;
    object-fit: cover;
    transition: transform 0.05s ease-in-out;
}
  
.product-image:hover {
    transform: scale(1.3);
    cursor: crosshair;
}

.product-overview {
    width: 100%;
    padding: 5px 0 5px 0;
}

/* CSS styles for the form */
.nice-form {
    max-width: 600px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.form-control-file {
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.btn-primary {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    border: 1px solid #007bff;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.aboutus-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
    max-width: 800px;
    margin: auto;
}

.aboutus-text {
    background-color: #ffffff;
    padding: 20px;
    text-align: left;
    border-radius: 5px;
}

.aboutus-text h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.aboutus-text p {
    font-size: 18px;
    line-height: 1.6;
    text-align: left;
    overflow-wrap: break-word;
    word-spacing: 0.25px;
}

.aboutus-image {
    text-align: center;
}

.aboutus-image img {
    max-width: 100%;
    height: auto;
}

/*SHOPPING-CART*/

#plus-button{
    padding: 0.2rem 0.5rem;
    font-size: 0.8rem; 
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}



/*FAQ collapse design*/
.section_padding_130 {
    padding-top: 130px;
    padding-bottom: 130px;
}
.faq_area {
    position: relative;
    z-index: 1;
    background-color:  #f0f7f3; 
    border: 50px solid rgb(255, 255, 255); 
}

.faq-accordian {
    position: relative;
    z-index: 1;
}
.faq-accordian .card {
    position: relative;
    z-index: 1;
    margin-bottom: 1.5rem;
}
.faq-accordian .card:last-child {
    margin-bottom: 0;
}
.faq-accordian .card .card-header {
    background-color: #ffffff;
    padding: 0;
    border-bottom-color: #ebebeb;
}
.faq-accordian .card .card-header h6 {
    cursor: pointer;
    padding: 1.75rem 2rem;
    color: rgb(0, 0, 1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.faq-accordian .card .card-header h6 span {
    font-size: 1.5rem;
}
.faq-accordian .card .card-header h6.collapsed {
    color: #1c1c1c;
}
.faq-accordian .card .card-header h6.collapsed span {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.faq-accordian .card .card-body {
    padding: 1.75rem 2rem;
}
.faq-accordian .card .card-body p:last-child {
    margin-bottom: 0;
}

@media only screen and (max-width: 575px) {
    .support-button p {
        font-size: 14px;
    }
}

.support-button i {
    color: #000000;
    font-size: 1.25rem;
}

@media only screen and (max-width: 575px) {
    .support-button i {
        font-size: 1rem;
    }
}

.support-button a {
    text-transform: capitalize;
    color: #2ecc71;
}

@media only screen and (max-width: 575px) {
    .support-button a {
        font-size: 13px;
    }
}

.card .card-header:hover {
    background-color: #f0f0f0; 
    cursor: pointer;
}


/*HOME PAGE*/

#carouselExampleControls {
    position: relative; 
    top: 0;
    left: 50%; 
    transform: translateX(-50%); 
    bottom: 150px; 
    width: 100vw;
    overflow: hidden;
}


.carousel-item img {
    max-width: 100%;
    height: 400px;
    object-fit: cover; 
    border-top: 1px solid black;
}

  .carousel-inner {
    position: relative;
    overflow: hidden;
  }

  .carousel-item::before {
    left: 0;
  }

  .carousel-item::after {
    right: 0;
    transform: scaleX(-1);
  }  

  /*LOGIN, SIGNUP, LOGOUT DESIGN*/
  .loginArea, .signupArea, .logoutArea{
    position: relative;
    z-index: 1;
    width: 80%; 
    margin: 0 auto;
    background-color: #f0f7f3; 
    padding: 50px; 
    border: 50px solid rgb(255, 255, 255); 
}

 .loginField{
    display: inline;
} 

  .login-heading {
    text-align: center;
}

.signupField{
    text-align: left;
}

.alert {
    position: fixed;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000; /* Adjust the z-index value as needed */
}

#searchBar {
    width: 150px;
    left: 75px; 
    margin-top: 15px;
    margin-bottom: 15px;
}


/* Specific styling for the confirmation container */
.confirmation-container {
    max-width: 600px; /* Adjust the maximum width as needed */
    width: 80%; /* Adjust the width as needed */
    padding: 40px; /* Adjust the padding as needed */
    background-color: #f0f7f3; /* Light green background */
    border: 50px solid #ffffff; /* White border */
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center content inside the container */
    margin: auto; /* Center horizontally */

}

.confirmation-header {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #000000;
}

.confirmation-details p {
    margin: 5px 0;
    color: #000000;
}

.confirmation-container:hover {
    background-color: #f0f0f0;
}

