body {
    font-family: Lato, sans-serif; /* Typsnitt: Lato */
}

p {
    /* Stilar för element av typen "p" */
 }
 
 #welcome-paragraph {
    /* Stilar för element med id="welcome-paragraph" */
 }
 
 .extra-big {
    /* Stilar för element med class="extra-big" */
 }
 
 /* Styles for the opening hours list */
#opening-hours {
    margin-top: 20px;
}

#opening-hours h2 {
    font-size: 24px;
    color: #333;
}

#opening-hours ul {
    list-style-type: none;
    padding: 0;
}

#opening-hours li {
    margin-bottom: 10px;
    font-size: 18px;
    color: #666;
}

/*NAVBAR*/

.navlogo{
    max-width: 80px;
}

.navbar{
    background-color: #C8E0EA;
}

.navbar-nav .nav-link {
    margin-right: 10px; /* Adjust the margin value as needed */ 
}

.custom-vertical-align {
    margin-top: 7px; /* Adjust the top margin to move the text vertically */
}

.search-button {
        background-color: transparent; /* Remove the background color */
        border: none; /* Remove the border */
        cursor: pointer; /* Change cursor to pointer on hover */
}

.search-button:hover {
    /*background-color: transparent;
    border: black; */
}
      